/**{
	border: solid black 1px;
}*/

input:focus {
    color: black;
}

html,body{
	width:99%;
	height:99%;
	margin:0;
}

fieldset {
    border: 1px solid gray;
    height: 95%; /*edellisessä ratkaisussa vuotivat yli*/
    background-color: rgba(128, 128, 128, 0.3);
    color: black;
}

legend {
	color:black;
	margin-left: 9px;
}

span{
	margin-left: 9px;
}

#header {
	width: 100%;
	
}

#left_menu {
	width: 22%;
    float: left;
    height: 100%; /*prosenteiksi?*/
    font-weight: bold;
}

#middle {
	width: 55%;
	height: 90%;
	text-align: left;
    float: left;
}

#gameboardarea { /*edellinen nimeämiskäytäntö loi conflictin js llä luodun pelipöydän kanssa*/ 
    height: 100%;
    text-align: center;
    float: middle;
    color: black;
}

#gameboard {
	float: middle;
	width: 500px;
	height: 500px;
}

#right_menu {
	width: 22%;
    float: right;
    height: 100%; /*prosenteiksi?*/
}

#footer {
	clear: both;
	position: absolute;
	bottom: 1%;
	width: 98%;
	height: 20%;
}

#chat_test {
	height: 60%;
	width: 100%;
	background-color: #DDDDDD;
	overflow: auto;
	font-weight: bold;
	font-family: "Arial", serif;
}

#ranking {
	height: 100%;
	overflow: hidden;
	overflow-x: hidden;
	font-weight: bold;
}

#chat_message {
	width: 89%;
}

#chat_send {
	width: 10%;
}

table {
	margin: auto;
	width: 360px;
	height: 360px;
	background-color: rgba(255, 255, 255, 0.3);
}

table, td, tr{
	
	border: 1px solid green;
	padding: 0px;
	margin: auto;
}

p {
	color = black;
}

td {
	width: 15px;
	height : 15px;
}

td:hover {
	background-color: pink;
}

